Assignment 1 (week 1)

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [11]:
#Q1 Answer

a = "Happy" #(i) string
b = [5,9,"perseverance","inspire",True,False,9+3j] #(ii) list
c = 75.09 #(iii) float (mutable)
d = ("cold",60,83,"ball") #(iv) tuple (immutable)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = '[DS, ML, Python]'
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [14]:
#Q2 Answer

var1 = ' ' 
var2 = '[DS, ML, Python]'
var3 = ['DS','ML', 'Python']
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
#Q3 Answer

print("Division operator ", 25/6) # '/' is a division operator which gives a float value upon division
print("Modulous operator ", 7%3)  # '%' is a modulous operator which returns the remainder after division
print("Floor operator ", 9//2)  # '//' is a floor operator which returns intiger value only after division
print("Power operator ", 2**4)  # '**' is a power operator which returns exponentioal value

Division operator  4.166666666666667
Modulous operator  1
Floor operator  4
Power operator  16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
#Q4 Answer

list1 = [5,'T','Diary',50,0.7,True,'love',8+4j,90,'DATA']

for i in list1 :
    print(i, "            which is a Data type of ",type(i))

5             which is a Data type of  <class 'int'>
T             which is a Data type of  <class 'str'>
Diary             which is a Data type of  <class 'str'>
50             which is a Data type of  <class 'int'>
0.7             which is a Data type of  <class 'float'>
True             which is a Data type of  <class 'bool'>
love             which is a Data type of  <class 'str'>
(8+4j)             which is a Data type of  <class 'complex'>
90             which is a Data type of  <class 'int'>
DATA             which is a Data type of  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
#Q5 Answer

A = int(input("Please enter the first number  "))
B = int(input("Please enter the second number  ")) 
i = 0 # for counting

while A%B == 0 :
    A = A/B
    i += 1
if i > 0 :
    print("First number is purely divisble by the second number and it is ",i," times divisible")
else :
    print("First number is not purely divisble by the second number")

Please enter the first number   40
Please enter the second number   2

First number is purely divisble by the second number and it is  3  times divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
#Q6 Answer

list_int = range(1,26)
for i in list_int : 
    if i%3 == 0 :
        print(i, " is divisible by 3")
    else :
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [17]:
#Q7 Answer

'''Mutable objects can be modified or change after their creation whereas 
immutable objects can not be modified after creation. 'list' is mutable data type & 'str' is a immutable data type.'''


a = [5,6,7,8,9] # a is a list of integers
b = "butterfly" # b is a string

# In this below example we have changed the value of index '2' from 7 to 36. Therefore list is a mutable object 
a[2] = 36
print("New modified list ", a)


'''In this below example when I tried to change index '1' object 'u' to 'x', it throws me an error that 'str' object
does not support item assignment. Therefore str is an immutable object.'''
b[1] = 'x'
print(b[1])

New modified list  [5, 6, 36, 8, 9]

TypeError: 'str' object does not support item assignment